<% form_for(@project) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <% @project.tasks.build %> 
  <% f.fields_for :tasks do |task_form| %>
    <p>
      <div>
        <%= task_form.label :name, 'Task:' %>
        <%= task_form.text_field :name %>
      </div>

      <% unless task_form.object.new_record? %>
        <div>
          <%= task_form.label :_delete, 'Remove:' %>
          <%= task_form.check_box :_delete %>
        </div>
      <% end %>
    </p>

  <% end %>
  <p>
    <%= f.submit action_name %>
  </p>
<% end %>

<%= link_to 'Back', projects_path %>
